@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
 } 
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 24px;
  width: 100%;
}
.header-links {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.links {
  display: flex;
  display: none;
}
.get-invite {
  display: none;
}
.nav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-icons button {
  border: none;
  background-color: #ffffff;
}
.logo a img {
  height: 16px;
  width: 170px;
}
.close-icon {
  display: none;
  width: 14.849242210388184px;
}
.burger-icon {
  width: 20px;
}
.modal-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 32px;
}
.modal-links {
  display: flex;
  flex-direction: column;
}
.modal-links a {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}
.modal-getinvite {
  background: #000000;

  padding: 14px 68px;
}
.getinvite_link {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  mix-blend-mode: normal;
}
.modal-getinvite a {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.5px;
  color: #ffffff;
}
.modal-div {
  display: none;
}
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg-color {
  position: absolute;
  height: 100vh;
  width: 100%;
}
.section1-part2 {
  height: 495px;
  width: 375px;
  background-color: #000000;
  margin-top: -6px;
  padding: 48px 28px 48px 29px;
}
.last-month-story {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;
}
h2 {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 3.3333332538604736px;
  text-align: left;
  color: #ffffff;
  margin-top: 16px;
}
.section1-part2-div1 {
  display: flex;
  gap: 9px;
  margin-top: 16px;
}
.section1-date {
  font-family: DM Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  opacity: 75%;
}
.section1-by {
  font-family: DM Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}
.section1-text {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 60%;
  color: #ffffff;
  margin-top: 24px;
}
.section1-part2-div2 {
  display: flex;
  margin-top: 24px;
  gap: 16px;
}
.read-story {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ffffff;
}
.arrow {
  height: 12px;
  width: 42px;
}

@media screen and (min-width: 768px) {
  nav {
    padding: 28px 39px;
  }
  .nav-icons {
    display: none;
  }
  .header-links {
    display: flex;
  }
  .links {
    display: flex;
    gap: 37px;
  }
  .links a {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #000000;
  }
  .get-invite {
    display: flex;
    padding: 12px 24px;
    background: #000000;
  }
  .get-invite-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #ffffff;
  }
  .section1-background {
    display: none;
  }
  .section1-part2 {
    background-image: url(./assets/stories/tablet/moon-of-appalacia.jpg);
    height: 650px;
    width: 768px;
    padding: 122px 342px 122px 41px;
  }
  h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.166666507720947px;
  }
}
@media screen and (min-width: 1440px) {
  nav {
    padding: 28px 160px;
  }
  .links a:hover {
    color: #bdbdbd;
  }
  .get-invite:hover {
    background-color: #dfdfdf;
  }
  .get-invite:hover > .get-invite-link {
    color: #000000;
  }
  .section1-part2 {
    background-image: url(./assets/stories/desktop/moon-of-appalacia.jpg);
    height: 650px;
    width: 1440px; 
    padding: 122px 940px 122px 112px;
  }
  h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.166666507720947px;
  }
}
