@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 24px;
  width: 100%;
}
.header-links {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.links {
  display: flex;
  display: none;
}
.get-invite {
  display: none;
}
.nav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-icons button {
  border: none;
  background-color: #ffffff;
}
.logo a img {
  height: 16px;
  width: 170px;
}
.close-icon {
  display: none;

  width: 14.849242210388184px;
}
.burger-icon {
  width: 20px;
}
/* modal */
.modal-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 32px;
}
.modal-links {
  display: flex;
  flex-direction: column;
}
.modal-links a {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}
.modal-getinvite {
  background: #000000;

  padding: 14px 68px;
}
.getinvite_link {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  mix-blend-mode: normal;
}
.modal-getinvite a {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.5px;
  color: #ffffff;
}
.modal-div {
  display: none;
}
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg-color {
  position: absolute;
  height: 100vh;
  width: 100%;
}
.section1-part2 {
  height: 495px;
  width: 375px;
  background-color: #000000;
  margin-top: -6px;
  padding: 48px 28px 48px 31px;
}
.last-month-story {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;
}
h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 3.3333332538604736px;
  text-align: left;
  color: #ffffff;
  margin-top: 16px;
}
.section1-part2-div1 {
  display: flex;
  gap: 9px;
  margin-top: 16px;
}
.section1-date {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  opacity: 75%;
}
.section1-by {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}
.section1-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 60%;
  color: #ffffff;
  margin-top: 24px;
}
.section1-part2-div2 {
  display: flex;
  margin-top: 24px;
  gap: 16px;
}
.read-story {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ffffff;
}
.arrow {
  height: 12px;
  width: 42px;
}
.section2 {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
.section2-image {
  height: 375px;
  width: 375px;
}
.one {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/mountains.jpg);
}
.two {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/cityscapes.jpg);
}
.three {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/18-days-voyage.jpg);
}
.four {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/architecturals.jpg);
}
.five {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/world-tour.jpg);
}
.six {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/unforeseen-corners.jpg);
}
.seven {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/king-on-africa.jpg);
}
.eight {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/trip-to-nowhere.jpg);
}
.nine {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/rage-of-the-sea.jpg);
}
.ten {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/running-free.jpg);
}
.eleven {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/behind-the-waves.jpg);
}
.twelve {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/calm-waters.jpg);
}
.thirteen {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/milky-way.jpg);
}
.fourteen {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/dark-forest.jpg);
}
.fifteen {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/somwarpet.jpg);
}
.sixteen {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url(./assets/stories/mobile/land-of-dreams.jpg);
}
.section2-text {
  margin-top: 230px;
  margin-left: 40px;
}
.section2-date {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  opacity: 80%;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  margin-top: 4px;
}
.section2-by {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  margin-top: 4px;
  opacity: 80%;
}
hr {
  height: 1px;
  width: 291.6666564941406px;
  border-radius: 0px;
  color: #ffffff;
  margin-top: 16px;
}
.section2-arrow-read {
  display: flex;
  gap: 156px;
  margin-top: 20px;
}
/* footer */
footer {
  background-color: #000000;
  height: 539px;
  width: 100%;
  display: grid;
  justify-content: center;
}
.footer-logo {
  margin-top: 56px;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
.invite {
  gap: 22px;
  justify-content: center;
  margin-top: 119px;
}
.footer-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
  margin-top: 51px;
}
.footer-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 14.33px;
  justify-content: center;
  margin-top: 32px;
  cursor: pointer;
}
.icon {
  height: 20px;
  width: 20px;
  background-size: cover;
  display: inline-block;
}
.facebook {
  background-image: url(./assets/shared/desktop/facebooklogo.svg);
}
.facebook:hover,
.facebook:focus {
  background-image: url(./assets/shared/desktop/facebook.svg);
}
.youtube {
  background-image: url(./assets/shared/desktop/youtubelogo.svg);
}
.youtube:hover,
.youtube:focus {
  background-image: url(./assets/shared/desktop/youtube.svg);
}
.twitter {
  background-image: url(./assets/shared/desktop/twitterlogo.svg);
}
.twitter:hover,
.twitter:focus {
  background-image: url(./assets/shared/desktop/twitter.svg);
}
.pinterest {
  background-image: url(./assets/shared/desktop/pinterest.logo.svg);
}
.pinterest:hover,
.pinterest:focus {
  background-image: url(./assets/shared/desktop/pinterest.svg);
}
.instagram {
  background-image: url(./assets/shared/desktop/instagramlogo.svg);
}
.instagram:hover,
.instagram:focus {
  background-image: url(./assets/shared/desktop/instagram.svg);
}
.copyright {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  opacity: 50%;
  margin-top: 39px;
  margin-bottom: 56px;
}
@media screen and (min-width: 768px) {
  nav {
    padding: 28px 39px;
  }
  .nav-icons {
    display: none;
  }
  .header-links {
    display: flex;
  }
  .links {
    display: flex;
    gap: 37px;
  }
  .links a {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #000000;
  }
  .get-invite {
    display: flex;
    padding: 12px 24px;
    background: #000000;
  }
  .get-invite-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #ffffff;
  }
  .section1-background {
    display: none;
  }
  .section2 {
    grid-template-columns: auto auto;
  }
  .section2-image {
    height: 500px;
    width: 384px;
  }
  .section2-text {
    margin-top: 340px;
    margin-left: 43px;
  }
  .section1-part2 {
    background-image: url(./assets/stories/tablet/moon-of-appalacia.jpg);
    height: 650px;
    width: 768px;
    padding: 122px 342px 122px 41px;
  }
  h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.166666507720947px;
  }
  .section2-image {
    height: 500px;
    width: 384px;
  }
  .one {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/mountains.jpg);
    background-size: cover;
  }
  .two {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/cityscapes.jpg);
    background-size: cover;
  }
  .three {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/18-days-voyage.jpg);
    background-size: cover;
  }
  .four {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/architecturals.jpg);
    background-size: cover;
  }
  .five {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/world-tour.jpg);
    background-size: cover;
  }
  .six {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/unforeseen-corners.jpg);
    background-size: cover;
  }
  .seven {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/king-on-africa.jpg);
    background-size: cover;
  }
  .eight {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/trip-to-nowhere.jpg);
    background-size: cover;
  }
  .nine {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/rage-of-the-sea.jpg);
    background-size: cover;
  }
  .ten {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/running-free.jpg);
    background-size: cover;
  }
  .eleven {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/behind-the-waves.jpg);
    background-size: cover;
  }
  .twelve {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/calm-waters.jpg);
    background-size: cover;
  }
  .thirteen {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/milky-way.jpg);
    background-size: cover;
  }
  .fourteen {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/dark-forest.jpg);
    background-size: cover;
  }
  .fifteen {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/somwarpet.jpg);
    background-size: cover;
  }
  .sixteen {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
      url(./assets/stories/desktop/land-of-dreams.jpg);
    background-size: cover;
  }
  footer {
    height: 284px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: unset;
    grid-template-areas:
      "logo  invite"
      "footer-texts footer-text"
      "icons copyright";
  }
  .footer-logo {
    margin-top: 64px;
    margin-left: -20px;
    grid-area: logo;
    display: inline;
  }
  .invite {
    margin-top: 64px;
    margin-right: -70px;
    grid-area: invite;
  }
  .footer-texts {
    flex-direction: row;
    gap: 26px;
    margin-top: -16px;
    margin-left: -23px;
    grid-area: footer-texts;
  }
  .footer-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
  }
  .icons {
    margin-top: 32px;
    margin-left: -162px;
    grid-area: icons;
  }
  .copyright {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    opacity: 50%;
    margin-top: 39px;
    margin-bottom: unset;
    margin-right: -10px;
    grid-area: copyright;
  }
}

@media screen and (min-width: 1440px) {
  nav {
    padding: 28px 160px;
  }
  .links a:hover {
    color: #bdbdbd;
  }
  .get-invite:hover {
    background-color: #dfdfdf;
  }
  .get-invite:hover > .get-invite-link {
    color: #000000;
  }
  .section1-part2 {
    background-image: url(./assets/stories/desktop/moon-of-appalacia.jpg);
    height: 650px;
    width: 1440px;
    padding: 122px 940px 122px 112px;
  }
  h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.166666507720947px;
  }
  .section2 {
    grid-template-columns: auto auto auto auto;
  }
  .section2-image {
    height: 500px;
    width: 360px;
    position: relative;
    top: 0;
    transition: top 0.5s ease-in-out;
  }
  .section2-image:hover {
    top: -25px;
    cursor: pointer;
  }
  .section2-image:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(26.57deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%);
  }
  .section2-text {
    margin-left: 40px;
  }
  footer {
    height: 250px;
    justify-content: space-around;
    grid-template-columns: unset;
    grid-template-areas:
      "logo footer-texts invite"
      "icons footer-texts copyright";
  }
  .footer-logo {
    margin-top: 64px;
    margin-left: unset;
  }
  .invite {
    margin-top: 64px;
    margin-right: unset;
    margin-left: 75px;
  }
  .footer-texts {
    flex-direction: column;
    margin-top: 4px;
    margin-left: -230px;
    gap: 19px;
    grid-area: footer-texts;
    
  }
  .footer-text {
    text-align: left;
  }
  .icons {
    margin-top: unset;
    margin-top: 12px;
    margin-left: -12px;
  }
  .copyright {
    margin-top: unset;
    margin-bottom: unset;
  }
  .footer-text:hover {
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.3;
  }
}
